<table id="menu_tb" class="layui-table" lay-size="md">
    <thead >
    <tr>
        <th>序号</th>
        <th>名称</th>
        <th>URL</th>
        <th>状态</th>
        <th>排序</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr v-for="(item,index) in menuList">
        <td>{{++index}}</td>
        <td>{{item.name}}</td>
        <td>{{item.url}}</td>
        <td>{{item.status_text}}</td>
        <td>{{item.sort}}</td>
        <td>
            <button class="layui-btn-sm layui-btn layui-btn-danger">
                停用
            </button>
            <button class="layui-btn-sm layui-btn">
                编辑
            </button>
        </td>
    </tr>
    </tbody>
</table>
<script>
    var content = new Vue({
        el:"#content",
        data:{
            menuList:[],
        },
        created:function() {
            this.getMenuList()
        },
        methods:{
            getMenuList:function(){
                var _self = this;
                $.get('/MenuMange/getMenuList',function(result){
                    _self.menuList = result;
                });
            }
        }
    });
</script>
