<!--
    
 @Name：黑牛儿整站模板源码
 @Author：Absolutely
 @Site：http://www.lyblogs.cn

 -->

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; Charset=gb2312">
    <meta http-equiv="Content-Language" content="zh-CN">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <title>{$Think.const.APP_NAME} - 文章专栏</title>
    <link rel="shortcut icon" href="{$Think.const.APP_PUBLIC}index/images/logo.jpg" type="image/x-icon">
    <!--Layui-->
    <link href="{$Think.const.APP_PUBLIC}index/plug/layui/css/layui.css" rel="stylesheet" />
    <!--font-awesome-->
    <link href="{$Think.const.APP_PUBLIC}index/plug/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <!--全局样式表-->
    <link href="{$Think.const.APP_PUBLIC}index/css/global.css" rel="stylesheet" />
    <!--本页样式表-->
    <link href="{$Think.const.APP_PUBLIC}index/css/article.css" rel="stylesheet" />
</head>
<body>
    <!-- 导航 -->
    <nav class="blog-nav layui-header">
        <div class="blog-container">
            <!-- 黑牛儿 -->
            <a class="blog-logo" href="/">黑牛儿</a>
            <!-- 导航菜单 -->
            <ul class="layui-nav" lay-filter="nav">
                <li class="layui-nav-item">
                    <a href="/"><i class="fa fa-home fa-fw"></i>&nbsp;网站首页</a>
                </li>
                <li class="layui-nav-item layui-this">
                    <a href="{:url('Article/index')}"><i class="fa fa-file-text fa-fw"></i>&nbsp;程序猿</a>
                </li>
                <li class="layui-nav-item">
                    <a href="{:url('About/index')}"><i class="fa fa-info fa-fw"></i>&nbsp;关于本站</a>
                </li>
            </ul>
            <!-- 手机和平板的导航开关 -->
            <a class="blog-navicon" href="javascript:;">
                <i class="fa fa-navicon"></i>
            </a>
        </div>
    </nav>
    <!-- 主体（一般只改变这里的内容） -->
    <div class="blog-body">
        <div class="blog-container">
            <blockquote class="layui-elem-quote sitemap layui-breadcrumb shadow">
                <a href="/" title="网站首页">网站首页</a>
                <a><cite>程序猿</cite></a>
            </blockquote>
            <div class="blog-main">
                <div class="blog-main-left">
                    <!-- 未搜索到文章提示信息 -->
                    <div class="shadow layui-hide" style="text-align:center;font-size:16px;padding:40px 15px;background:#fff;margin-bottom:15px;">
                        未搜索到与【<span style="color: #FF5722;">keywords</span>】有关的文章，随便看看吧！
                    </div>

                    <!-- 列表-->
                    <?php foreach($articleList as $item):?>
                    <div class="article shadow">
                        <div class="article-left">
                            <img src="{$item['index_img']}" alt="{$item['title']}" />
                        </div>
                        <div class="article-right">
                            <div class="article-title">
                                <a href="<?php echo url('Article/show','articleId='.$item['id']);?>"><?php if($item['is_top']):?>
                                    <i class="icon-stick" >顶</i>
                                    <?php endif;?>{$item['title']}</a>
                            </div>
                            <div class="article-abstract">
                                {$item['description']}
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="article-footer">
                            <span><i class="fa fa-clock-o"></i>&nbsp;&nbsp;{$item['create_time']}</span>
                            <span class="article-author"><i class="fa fa-user"></i>&nbsp;&nbsp;{$item['author']}</span>
                            <!--<span><i class="fa fa-tag"></i>&nbsp;&nbsp;<a href="#">Web前端</a></span>-->
                            <span class="article-viewinfo"><i class="fa fa-eye"></i>&nbsp;{$item['visit_num']}</span>
                            <span class="article-viewinfo"><i class="fa fa-commenting"></i>&nbsp;{$item['comment_num']}</span>
                        </div>
                    </div>
                    <?php endforeach;?>
                    <div id="page"></div>
                </div>
                <div class="blog-main-right">
                    <div class="blog-search">
                        <form class="layui-form" action="">
                            <div class="layui-form-item">
                                <div class="search-keywords  shadow">
                                    <input type="text" name="keywords" lay-verify="required" placeholder="输入关键词搜索" autocomplete="off" class="layui-input">
                                </div>
                                <div class="search-submit  shadow">
                                    <a class="search-btn" lay-submit="formSearch" lay-filter="formSearch"><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="article-category shadow">
                        <div class="article-category-title">标签导航</div>
                        <?php foreach($tag as $value):?>
                        <a href="<?php echo url('Article/index','tag='.$value['tag']);?>">{$value['tag']}</a>
                        <?php endforeach;?>
                        <div class="clear"></div>
                    </div>
                    <div class="blog-module shadow">
                        <div class="blog-module-title">热文推荐</div>
                        <ul class="fa-ul blog-module-ul">
                            <?php foreach($hotArticle as $value):?>
                            <li><i class="fa-li fa fa-hand-o-right"></i><a href="<?php echo url('Article/show','articleId='.$value['id']);?>">{$value['title']}</a></li>
                            <?php endforeach;?>
                        </ul>
                    </div>
                    <div class="blog-module shadow">
                        <div class="blog-module-title">最新文章</div>
                        <ul class="fa-ul blog-module-ul">
                            <?php foreach($bestArticle as $value):?>
                            <li><i class="fa-li fa fa-hand-o-right"></i><a href="<?php echo url('Article/show','articleId='.$value['id']);?>" target="_blank">{$value['title']}</a></li>
                            <?php endforeach;?>
                        </ul>
                    </div>
                    <div class="blog-module shadow">
                        <div class="blog-module-title">友情链接</div>
                        <ul class="blogroll">
                            <?php foreach($link as $value):?>
                            <li><a href="javascript:void(0);" onclick="goFriendLink({$value['id']},'{$value['web_url']}')" title="{$value['web_name']}">{$value['web_name']}</a></li>
                            <?php endforeach;?>
                        </ul>
                    </div>
                    <!--右边悬浮 平板或手机设备显示-->
                    <div class="category-toggle"><i class="fa fa-chevron-left"></i></div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <!-- 底部 -->
    <footer class="blog-footer">
        <p><span>Copyright</span><span>&copy;</span><span>2017</span><a href="http://www.lyblogs.cn">黑牛儿</a><span>Design By LY</span></p>
        <p><a href="http://www.miibeian.gov.cn/" target="_blank">蜀ICP备16029915号-1</a></p>
    </footer>
    <!--侧边导航-->
    <ul class="layui-nav layui-nav-tree layui-nav-side blog-nav-left layui-hide" lay-filter="nav">
        <li class="layui-nav-item">
            <a href="/"><i class="fa fa-home fa-fw"></i>&nbsp;网站首页</a>
        </li>
        <li class="layui-nav-item">
            <a href="{:url('Article/index')}"><i class="fa fa-file-text fa-fw"></i>&nbsp;程序猿</a>
        </li>
        <li class="layui-nav-item layui-this">
            <a href="{:url('About/index')}"><i class="fa fa-info fa-fw"></i>&nbsp;关于本站</a>
        </li>
    </ul>
    <!--分享窗体-->
    <div class="blog-share layui-hide">
        <div class="blog-share-body">
            <div style="width: 200px;height:100%;">
                <div class="bdsharebuttonbox">
                    <a class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                    <a class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                    <a class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                    <a class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a>
                </div>
            </div>
        </div>
    </div>
    <!--遮罩-->
    <div class="blog-mask animated layui-hide"></div>
    <!-- jquery -->
    <script src="{$Think.const.APP_PUBLIC}jquery-1.9.1.min.js"></script>
    <!-- layui.js -->
    <script src="{$Think.const.APP_PUBLIC}index/plug/layui/layui.js"></script>
    <!-- 全局脚本 -->
    <script src="{$Think.const.APP_PUBLIC}index/js/global.js"></script>
    <script>
        layui.use('laypage', function(){
            var $ = layui.jquery;
            layui.laypage({
                cont: 'page',
                pages: "{$pages}",
                curr: "{$page}", //获取hash值为fenye的当前页
                limit:10,
                groups:0,
                jump: function(obj, first){
                    if(!first){
                       var url =  location.pathname.replace('.html','');
                       url = url.split('/page');
                        window.location.href = url[0]+'/page/'+obj.curr+'/limit/'+obj.limit;
                    }
                }
            });
        });
        $(function(){
            $(window).scroll(function () {

            });
        })
    </script>
</body>
</html>