<style>
    .body-left{margin-top: 25px;float: left;width: 66%;}
    .body-right{margin-top: 25px;}
    .index-article{
        padding: 15px;
        margin-bottom: 10px;
        background: #fff;
        border-left: 5px solid #fff;
        -moz-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
        -webkit-transition: all 0.3s linear;
        transition: all 0.3s linear;
        border-radius:20px;
    }
    .index-article > .article-left {width: 25%;float: left;}
    .index-article > .article-right {float: left;width: 75%;}
    .index-article > .article-left > img{width: 100%;height: auto;}
    .index-article > .article-right > .article-title a {
        font-size: 18px;
    }
    .index-article > .article-footer {
        margin-top: 10px;
        font-size: 13px;
    }
    .index-article > .article-footer > span {
        padding-right: 3%;
    }

    .index-article > .article-footer > .article-viewinfo{float: right;display: inline-block;}
    .body-right > .name-card {background-color: white;text-align: center;padding: 0 15px;margin-bottom: 15px;}
    .body-right > .name-card > .name-card-logo {display: inline-block;margin: 20px auto;}
    .name-card-logo > img{border-radius: 50px;}
    .name-card-name {font-size: 32px;font-weight: bold;margin: 0 0 15px 0;}
    .name-card-address {color: #808080;margin: 15px;font-size: 13px;}
    .name-card-link{padding: 15px;padding-top: 5px;}
    .name-card-link > a {margin: 10px;}
    .right-block {background-color: white;padding: 0 15px;margin-bottom:15px;}
    .right-block > .title {border-bottom: 1px solid #009688;font-size: 15px;padding: 0 0 5px 0;margin-bottom: 5px;}
    .right-block > ul > li {line-height: 23px;margin: 3px 0;}

</style>
<div id="">
    <blockquote class="crumbs shadow" style="width: 100%;">
        <a href="{:url('/')}" title="网站首页">首页<span class="layui-box">&gt;</span></a>
        <a href="{:url('Article/index','module=2')}" title="程序猿">程序猿</a>
    </blockquote>
    <div class="layui-col-md8 body-left">
        <?php foreach($articleList as $item):?>
        <div class="index-article shadow">
            <div class="article-left">
                <img  src="{$item['index_img']}" alt="{$item['title']}">
            </div>
            <div class="article-right">
                <div class="article-title">
                    <?php if($item['is_top']):?>
                    <i class="icon-stick" >顶</i>
                    <?php endif;?>
                    <a href="<?php echo url('Article/show','module=2&articleId='.$item['id']);?>" data-id="{$item['id']}">{$item['title']}</a>
                </div>
                <div class="article-abstract">
                    {$item['description']}
                </div>
            </div>
            <div class="layui-clear"></div>
            <div class="article-footer">
                <span><i class="fa fa-clock-o"></i>&nbsp;&nbsp;{$item['create_time']}</span>
                <span class="article-author"><i class="fa fa-user"></i>&nbsp;&nbsp;{$item['author']}</span>
                <span class="article-viewinfo"><i class="fa fa-eye"></i>&nbsp;{$item['visit_num']}</span>
                <span class="article-viewinfo"><i class="fa fa-comment"></i>&nbsp;{$item['comment_num']}</span>
            </div>
        </div>
        <?php endforeach;?>
        <div id="page"></div>
    </div>
</div>
<script>
    layui.use('laypage', function(){
        var laypage = layui.laypage;
        laypage.render({
            elem:'page',
            count:"{$total}",
            limit:7,
            curr: "{$page}",
            groups:3,
            first:'首页',
            last:'尾页',
            jump:function(obj,first){
                if(!first){
                    window.location.href = 'Article/index/?page='+obj.curr+'&limit='+obj.limit;
                }
            }
        });
    });
</script>