<style>
    .body-left{margin-top: 5px;float: left;width: 66%;}
    .body-right{margin-top: 25px;}
    .content{background-color: white;position: relative;width: 100%;  }
    .title{
        text-align: center;
        margin: 20px 0 15px 0;
        font-size: 28px;
        font-weight: 500;
    }
    .info{
        text-align: center;
        border: 2px dashed #cfd0d4;
        margin: 0 7px;
        line-height: 30px;
    }
    .info >ul > li{
        display: inline;
        margin-left: 54px;
        font-size: 10px;
    }

</style>
<link rel="stylesheet" href="{$Think.const.APP_PUBLIC}Editor.md/css/editormd.min.css" />
<div id="" class="">
    <blockquote class="crumbs shadow" style="width:100%;">
        <a href="{:url('/')}" title="网站首页">首页<span class="layui-box">&gt;</span></a>
        <a href="{:url('Article/index','module=2')}" title="程序猿">程序猿<span class="layui-box">&gt;</span></a>
        <a  href="#"><cite>{$article['title']}</cite></a>
    </blockquote>
    <div class="layui-col-md8 body-left">
        <div class="content">
            <div class="title">
                {$article['title']}
            </div>
            <div class="info">
                <ul>
                    <li><strong>作者:</strong><span>{$article['author']}</span></li>
                    <li><strong>创建时间:</strong><span>{$article['create_time']}</span></li>
                    <li><strong>阅读次数:</strong><span>{$article['visit_num']}</span></li>
                    <li><strong>评论次数:</strong><span>{$article['comment_num']}</span></li>
                </ul>
            </div>
            <div id="article_show" style="width: auto;">
                <textarea style="display: none;">
                    {$article['content']}
                </textarea>
            </div>
            <!-- UY BEGIN -->
            <div id="uyan_frame"></div>
            <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=2150821"></script>
            <!-- UY END -->
        </div>
    </div>
</div>
<script src="{$Think.const.APP_PUBLIC}Editor.md/lib/marked.min.js"></script>
<script src="{$Think.const.APP_PUBLIC}Editor.md/lib/prettify.min.js"></script>

<script src="{$Think.const.APP_PUBLIC}Editor.md/lib/raphael.min.js"></script>
<script src="{$Think.const.APP_PUBLIC}Editor.md/lib/underscore.min.js"></script>
<script src="{$Think.const.APP_PUBLIC}Editor.md/lib/sequence-diagram.min.js"></script>
<script src="{$Think.const.APP_PUBLIC}Editor.md/lib/flowchart.min.js"></script>
<script src="{$Think.const.APP_PUBLIC}Editor.md/lib/jquery.flowchart.min.js"></script>
<script src="{$Think.const.APP_PUBLIC}Editor.md/js/editormd.min.js"></script>
<script type="text/javascript">
    var testEditor;
    $(function () {
        testEditor = editormd.markdownToHTML("article_show", {//注意：这里是上面DIV的id
            htmlDecode: "style,script,iframe",
            emoji: true,
            taskList: true,
            tex: true, // 默认不解析
            flowChart: true, // 默认不解析
            sequenceDiagram: true, // 默认不解析
            codeFold: true,
        });
        console.log(testEditor);
    });
</script>