<div id="content">
    <div v-show="!editPage">
        <button class="layui-btn" id="add_menu" v-on:click="editLink(0)"><i class="layui-icon">&#xe608;</i>添加</button>
        <table id="menu_tb" class="layui-table" lay-size="md">
            <thead >
            <tr>
                <th>序号</th>
                <th>网站名称</th>
                <th>网站地址</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(item,index) in friendLinkList">
                <td>{{++index}}</td>
                <td>{{item.web_name}}</td>
                <td>{{item.web_url}}</td>
                <td>
                    <button class="layui-btn-sm layui-btn layui-btn-danger" @click="removeLink(item.id)">
                        删除
                    </button>
                    <button class="layui-btn-sm layui-btn" @click="editLink(item.id)">
                        编辑
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div v-show="editPage">
        <form class="layui-form layui-form-pane " id="friend_fm">
            <input type="hidden" name="id" v-bind:value="linkData.id">
            <div class="layui-form-item">
                <label class="layui-form-label">网站名称</label>
                <div class="layui-input-block">
                    <input type="text" name="web_name" required  lay-verify="required" placeholder="请输入网站名称" autocomplete="off" class="layui-input" v-bind:value="linkData.web_name">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">网站地址:</label>
                <div class="layui-input-block">
                    <input type="text" name="web_url" required  lay-verify="required" placeholder="输入URL" autocomplete="off" class="layui-input" v-bind:value="linkData.web_url">
                </div>
            </div>
        </form>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn"  @click="saveLink()">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary" @click="cancel()">取消</button>
            </div>
        </div>
    </div>
</div>
<script>
    var content = new Vue({
        el:"#content",
        data:{
            friendLinkList:[],
            editPage:false,
            linkData:{},
        },
        created:function() {
            this.getFriendLinkList();
        },
        methods:{
            getFriendLinkList:function(){
                var _self = this;
                $.get('/FriendLink/getList',function(result){
                    _self.friendLinkList = result;
                });
            },
            editLink:function(linkId){
                $("#friend_fm")[0].reset();
                this.editPage = true;
                if(linkId){
                    var _self = this;
                    $.get("/FriendLink/getlinkData?linkId="+linkId,function(result){
                        _self.linkData = result;
                    });
                }
            },
            saveLink:function(){
                var _self = this;
                $("#friend_fm").formSubmit({
                    url:"{:url('/FriendLink/save')}",
                    onSubmit:function(data){
                        if($.is_null(data.web_name)){
                            layer.msg('网站名称不能为空');
                            return false;
                        }
                        if($.is_null(data.web_url)){
                            layer.msg('网站地址不能为空');
                            return false;
                        }
                    },
                    success:function(result){
                        if(result){
                            _self.cancel();
                            layer.msg('保存成功');
                        } else {
                            layer.msg('保存失败')
                        }
                    }
                });
            },
            removeLink:function(linkId){
                var _self = this;
                $.get("/FriendLink/removeLink?linkId="+linkId,function(result){
                    if(result){
                        layer.msg('删除成功');
                        _self.getFriendLinkList();
                    }else{
                        layer.msg('删除失败');
                    }

                });
            },
            cancel:function(){
                this.getFriendLinkList();
                $("#friend_fm")[0].reset();
                this.editPage=false;
                this.linkData={};
            }
        }
    });
</script>
