<div id="content">
    <div v-show="!editPage">
        <button class="layui-btn" id="add_menu" v-on:click="editLink(-1)"><i class="layui-icon">&#xe608;</i>添加</button>
        <table id="menu_tb" class="layui-table" lay-size="md">
            <thead >
            <tr>
                <th>序号</th>
                <th>公告内容</th>
                <th>地址</th>
                <th>创建时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(item,index) in NoticeList">
                <td>{{++index}}</td>
                <td>{{item.content}}</td>
                <td>{{item.url}}</td>
                <td>{{item.create_time}}</td>
                <td>
                    <button class="layui-btn-sm layui-btn layui-btn-danger" @click="removeLink(item.id)">
                        删除
                    </button>
                    <button class="layui-btn-sm layui-btn" @click="editLink(--index)">
                        编辑
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div v-show="editPage">
        <form class="layui-form layui-form-pane " id="notice_fm">
            <input type="hidden" name="id" v-bind:value="noticeData.id">
            <div class="layui-form-item">
                <label class="layui-form-label">公告内容</label>
                <div class="layui-input-block">
                    <textarea placeholder="请输入内容" class="layui-textarea" name="content">{{noticeData.content}}</textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">公告地址:</label>
                <div class="layui-input-block">
                    <input type="text" name="url" required  lay-verify="required" placeholder="输入URL" autocomplete="off" class="layui-input" v-bind:value="noticeData.url">
                </div>
            </div>
        </form>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn"  @click="save()">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary" @click="cancel()">取消</button>
            </div>
        </div>
    </div>
</div>
<script>
    var content = new Vue({
        el:"#content",
        data:{
            NoticeList:[],
            editPage:false,
            noticeData:{},
        },
        created:function() {
            this.getNoticeList();
        },
        methods:{
            getNoticeList:function(){
                var _self = this;
                $.get('/Notice/getList',function(result){
                    _self.NoticeList = result;
                });
            },
            editLink:function(index){
                $("#notice_fm")[0].reset();
                this.editPage = true;
                if(index > -1){
                    this.noticeData = this.NoticeList[index];
                }
            },
            save:function(){
                var _self = this;
                $("#notice_fm").formSubmit({
                    url:"{:url('/Notice/save')}",
                    onSubmit:function(data){
                        if($.is_null(data.content)){
                            layer.msg('公告内容不能为空');
                            return false;
                        }
                    },
                    success:function(result){
                        if(result){
                            _self.cancel();
                            layer.msg('保存成功');
                        } else {
                            layer.msg('保存失败')
                        }
                    }
                });
            },
            removeLink:function(noticeId){
                var _self = this;
                $.get("/Notice/removeNotice?noticeId="+noticeId,function(result){
                    if(result){
                        layer.msg('删除成功');
                        _self.getNoticeList();
                    }else{
                        layer.msg('删除失败');
                    }

                });
            },
            cancel:function(){
                this.getNoticeList();
                $("#notice_fm")[0].reset();
                this.editPage=false;
                this.noticeData={};
            }
        }
    });
</script>
