<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<link rel="stylesheet" href="<?php echo APP_PUBLIC;?>admin/layui/css/layui.css">
<link rel="stylesheet" href="<?php echo APP_PUBLIC;?>Editor.md/css/editormd.min.css">
<style>
    .layui-layout-body{background-color: #16aeb3;}
    .layui-form > .layui-form-item >label{color: white;}
    .layui-layout-admin {position: absolute;top: 33%;left:38%;max-width: 30%;background-color:#999;}
    .title{text-align: center;margin: 10px 0;}
    .title > h2{color: white;}
    .layui-form{margin-bottom: 20px;margin-right: 20px;}
</style>
<script src="{$Think.const.APP_PUBLIC}jquery-1.9.1.min.js"></script>
<script src="{$Think.const.APP_PUBLIC}admin/layui/layui.js"></script>
<script src="{$Think.const.APP_PUBLIC}vue.js"></script>
<script src="{$Think.const.APP_PUBLIC}admin/js/layui_admin_use.js"></script>
<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin" id="login" @keyup.enter="login()">
        <div class="title">
            <h2>后台登录</h2>
        </div>
        <form class="layui-form" id="login-fm">
            <div class="layui-form-item">
                <label class="layui-form-label">登录账户:</label>
                <div class="layui-input-inline">
                    <input type="text" name="login_name" required  lay-verify="required" placeholder="请输入账号" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">密码:</label>
                <div class="layui-input-inline">
                    <input type="password" name="password" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
                </div>
            </div>
        </form>
        <div class="layui-input-block" style="margin-bottom: 10px;margin-left: 0px;text-align: center;">
            <button class="layui-btn" @click="login()" style="width: 80%;">登录</button>
        </div>
    </div>
</body>
<script src="{$Think.const.APP_PUBLIC}jq-tool.js"></script>
<script>
    var login = new Vue({
        el:'#login',
        methods:{
            login:function(){
                var _self = this;
                $("#login-fm").formSubmit({
                    url:"{:url('Auth/login')}",
                    onSubmit:function(data){
                        console.log(data);
                        if($.is_null(data.login_name)){
                            layer.msg('请输入账号');
                            return false;
                        }
                        if($.is_null(data.password)){
                            layer.msg('请输入密码');
                            return false;
                        }
                        return true;
                    },
                    success:function(result){
                        if(result.success){
                            location.href="{:url('Index/index')}";
                        }else{
                            layer.msg(result.msg);
                        }
                    },
                });
            }
        }
    });
</script>
</html>