<style>
    .footer{text-align: center;border-top: 1px solid #009688;margin-top: 15px;background: #2F4056;padding: 5px 0;color: #d3d2d2;}
    .footer > p {
        margin: 2px 0;
    }
    .footer a {
        color: #d2d2d2;
    }
    .footer > p a, .footer > p span {
        padding-left: 7px;
    }
</style>
<footer class="footer">
    <p><span>Copyright</span><span>@</span><span>2017</span><a href="http://www.heiniuer.cn">黑牛儿</a><span>Design By ChenHaiLong</span></p>
    <p><a href="http://www.miibeian.gov.cn/" target="_blank">蜀ICP备xxxxxx号-1</a></p>
</footer>
<!--分享窗体-->
<div class="blog-share layui-hide">
    <div class="blog-share-body">
        <div style="width: 200px;height:100%;">
            <div class="bdsharebuttonbox">
                <a class="bds_qzone" data-cmd="qzone" title="分享到QQ空间" style="background-position: 0px;margin-left: 10px;"></a>
                <a class="bds_tsina" data-cmd="tsina" title="分享到新浪微博" style="background-position: 0;margin-left: 10px;"></a>
                <a class="bds_weixin" data-cmd="weixin" title="分享到微信" style="background-position: 0;margin-left: 10px;"></a>
                <a class="bds_sqq" data-cmd="sqq" title="分享到QQ好友" style="background-position: 0;margin-left: 10px;"></a>
            </div>
        </div>
    </div>
</div>
<script>

    $(function(){
        var module = "{$module}";
        var conf = {:json_encode(config('menu'))};
        var id = $(".layui-this").attr('id');
        var idStr = conf[module];
        $(".layui-this").removeClass('layui-this');
        $("#"+idStr).addClass('layui-this');
    });

    //百度分享插件
    window._bd_share_config = {
        "common": {
            "bdSnsKey": {},
            "bdText": "",
            "bdStyle": "0",
            "bdSize": "32"
        },
        "share": {}
    };
    with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];

</script>