<style>
.nav-bg{background-color: #393D49;}
.nav{position: relative;}
.nav-common{position: absolute; left: 20%;top:0;}
.nav-logo{
    width: auto;
    text-align: center;
    line-height: 64px;
    font-size: 30px;
    color: white;
    font-weight: bold;
    font-family:KaiTi;
    display: inline-block;
    z-index: 10;
    margin:  0 auto;
}
.nav-common .layui-nav{width: 85%;}
</style>
<nav class="layui-header nav-bg layui-col-md12" style="position: fixed;top: 0px;">
    <div class="nav nav-common layui-col-md10">
        <a class="nav-logo" href="/">黑牛儿</a>
        <ul class="nav-common layui-nav" lay-filter="nav">
            <li class="layui-nav-item layui-this" id="home">
                <a href="{:url('Index/index','module=1')}"><i class="fa fa-home fa-fw"></i>首页</a>
            </li>
            <li class="layui-nav-item" id="article">
                <a href="{:url('Article/index','module=2')}"><i class="fa fa-book fa-fw"></i>程序猿</a>
            </li>
            <li class="layui-nav-item" id="about"><a href="">关于</a></li>
        </ul>
    </div>
</nav>